<p>
  Hello there, I'm a really slow resource!
</p>

<table>
  <thead>
    <tr>
      <th>
        name
      </th>
      <th>
        foo
      </th>
      <th>
        bar
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |item|}}
      <tr>
        <td>{{item.name}}</td>
        <td>foo</td>
        <td>bar</td>
      </tr>
    {{/each}}
  </tbody>
</table>
