<div class="row">
  <div class="col-xs-3">
    <p>
      Nested and slow sidebar.
    </p>

    {{slow-list model=model lastUpdate=lastUpdate}}
  </div>

  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>
