<div class="row">
  <div class="well col-xs-6 col-xs-offset-3">
    <div class="card card-inverse card-info text-xs-center">
      <div class="card-block">
        {{fa-icon "spinner" spin=true size=4}}

        {{#if name}}
          <hr />
          <strong>
            {{name}}
          </strong>
        {{/if}}
      </div>
    </div>
  </div>
</div>
