<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-light bg-faded">
        <div class="nav navbar-nav">
          {{#link-to 'slow' class='nav-item nav-link'}}
            Slow
          {{/link-to}}

          {{#link-to 'fast' class='nav-item nav-link'}}
            Fast
          {{/link-to}}
        </div>
      </nav>

      <h2 id="title">Welcome to Ember</h2>

      <p>
        This is our main application content. It does not load any data, so it can be displayed instantly.
      </p>

      <hr />

      {{outlet}}
    </div>
  </div>
</div>
