<h2 id="title">Welcome to Ember</h2>

<p>
  This is our main application content. It does not load any data, so it can be displayed instantly.
</p>

<ul>
  <li>
    {{#link-to 'slow'}}
      Slow
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'fast'}}
      Fast
    {{/link-to}}
  </li>
</ul>

<hr />

{{outlet}}
